.header

  .header__box

    .header__box__main-title
    
      .header__box__main-title__title1
        .header__box__main-title__title1__title1-1
          デジモン
        .header__box__main-title__title1__title1-2
          アドベンチャーOP
      .header__box__main-title__title2
        Butter-Fly
      .header__box__main-title__title3
        .header__box__main-title__title3__title3-1
          ギターパート
        .header__box__main-title__title3__title3-2
          完全マスターガイド

    .header__box__user

      .header__box__user__box

        .header__box__user__box__name
          = current_user.name

        .header__box__user__box__icons
          
          .header__box__user__box__icons__fas-icon
            = link_to "#" do
              <i class="fas fa-user-cog"></i>
          .header__box__user__box__icons__cog-icon
            = link_to edit_user_path(current_user) do
              <i class="fas fa-cog"></i>

  .header__menu-bar
    .header__menu-bar__content
      デモ演奏
    .header__menu-bar__content
      Lesson1
    .header__menu-bar__content
      Lesson2
    .header__menu-bar__content
      Lesson3
    .header__menu-bar__content
      slow-solo
    .header__menu-bar__content
      Download