.main
  .main__box

    .main__box__youtube

      .main__box__youtube__lesson-title
        Lesson1「イントロ編」

      .main__box__youtube__youtube-position

    .main__box__chat

      .main__box__chat__name
        松本
        .main__box__chat__name__time
          2019/12/26/Fri
      .main__box__chat__text
        テスト

      .main__box__chat__name
        松本
        .main__box__chat__name__time
          2019/12/26/Fri
      .main__box__chat__text
        テスト

  .main__footer
    
    .main__footer__message-form

      .main__footer__message-form__text
        message

      .main__footer__message-form__send-btn
        Send
