* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

a {
  text-decoration: none;
  color: white;
  font-family: 'Ubuntu Mono', monospace;
}

a:hover {
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  text-shadow:3px 4px 1px rgb(15, 15, 13);
}

.header {
  background-color: gray;
  height: 140px;
  width: 100vw;
  padding-top: 6px;

  &__box {
    background-color: khaki;
    height: 80px;
    width: calc(100% - 10px);
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    border-radius: 4px;

    &__main-title {
      background-color: skyblue;
      border: solid 1px black;
      height: 70px;
      width: calc(100% - 160px);
      display: flex;
      justify-content: center;
      font-style: italic;
      text-shadow: 1px 1px 1px black, 1px 1px 1px black;
      border-radius: 4px;

      &__title1 {
        height: 70px;
        font-size: 20px;
        padding-top: 5px;
        font-weight: bolder;;
        font-style: italic;
        

        &__title1-1 {

        }

        &__title1-2 {

        }
      }

      &__title2 {
        height: 70px;
        color: white;
        text-shadow:-3px -3px 1px rgb(168, 187, 63), 3px 8px 3px rgb(15, 15, 13);
        font-weight: 600;
        font-size: 90px;
        line-height: 60px;
        padding: 0 30px;
        font-family: 'Ubuntu Mono', monospace;
      }

      &__title3 {
        height: 70px;
        font-size: 20px;
        padding-top: 5px;
        font-weight: bold;

        &__title3-1 {

        }

        &__title3-2 {

        }
      }
    }

    &__user {
      background-color: skyblue;
      border: solid 1px black;
      height: 70px;
      width: 150px;
      padding-top: 20px;
      border-radius: 4px;

      &__box {
        height: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        &__name {
          font-size: 17px;
          font-weight: bold;
          line-height: 17px;
        }

        &__icons {
          height: 20px;
          width: 50px;
          line-height: 20px;
          display: flex;
          justify-content: space-around;

          &__fas-icon {
            
          }

          &__cog-icon {

          }
        }
      }
    }
  }

  &__menu-bar {
    background-color: gold;
    height: 47px;
    width: calc(100% - 10px);
    margin: 0 auto;
    display: flex;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    color: white;
    text-shadow: -2px -0.5px 1px #0f0f0d, 3px 3px 5px #0f0f0d;
    border-radius: 4px;
    
    &__content {
      background-color: rgb(0, 204, 255);
      border: solid 1px black;
      height: 45px;
      width: 16.6666667%;
      padding-top: 7px;
      border-radius: 4px;

    }
  }
}


.main {
  background-color: gray;
  height: calc(100vh - 140px);
  width: 100vw;

  &__box {
    background-color: darkgray;
    height: calc(100% - 100px);
    width: calc(100vw - 10px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;

    &__youtube {
      background-color: whitesmoke;
      border: solid 1px black;
      height: calc(100% - 20px);
      width: 66%;
      padding-top: 5px;
      display: flex;
      flex-direction: column;
      overflow: scroll;
      border-radius: 4px;

      &__edit {
        background-color: khaki;
        border: solid 1px black;
        height: 5%;
        width: 5%;
        margin-left: 4px;
        padding-left: 6px;
        border-radius: 4px;
      }

      &__lesson-title {
        background-color: white;
        border: solid 1px black;
        font-size: 20px;
        line-height: 36px;
        text-align: center;
        width: 50%;
        height: 7%;
        margin: 0 auto;
        border-radius: 4px;
      }

      &__youtube-position {
        height: 75%;
        width: 70%;
        margin: 10px auto;

        &__name {
          font-weight: bolder;
          padding: 10px;
        }
      }
    }

    &__chat {
      background-color: whitesmoke;
      border: solid 1px black;
      height: calc(100% - 20px);
      width: 33%;
      padding: 25px;
      overflow: scroll;
      border-radius: 4px;

      .upper-message {
        display: flex;
      }

      .upper-message__user-name{
        font-size: 15px;
        font-weight: bolder;
        display: flex;
      }

      .upper-message__date {
        font-size: 10px;
        font-weight: lighter;
        margin-left: 5px;
      }

      .lower-message {
        font-size: 13px;
        padding-bottom: 40px;
      }

      &__name {
        font-size: 15px;
        font-weight: bolder;
        display: flex;

        &__time {
          font-size: 10px;
          font-weight: lighter;
          margin-left: 5px;
        }
      }

      &__text {
        font-size: 13px;
        padding-bottom: 40px;
      }
    }
  }

  &__footer {
    background-color: skyblue;
    border: solid 1px black;
    height: 95px;
    width: calc(100% - 10px);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;

    &__message-form {
      height: 60%;
      width: 90%;
      display: flex;
      justify-content: space-between;

      .new_message {
        display: contents;
      }

      &__text {
        background-color: white;
        border: solid 1px black;
        font-size: 17px;
        font-weight: lighter;
        height: 100%;
        width: 88%;
        border-radius: 4px;

        .form__message {
          width: 100%;
          height: 100%;
          padding-left: 10px;
          border-radius: 4px;
        }
      }

      &__send-btn {
        background-color: white;
        border: solid 1px black;
        font-size: 20px;
        font-weight: bold;
        height: 100%;
        width: 10%;
        padding: 10px 0 0 35px;
        border-radius: 4px;

        .form__submit {
          background-color: white;
          border: solid 1px white;
        }
      }
    }
  }
}